extends page_layout2

block content
    if user
        .container
            h1 #{title}
            h5 Form must include either a Standard or Custom Message or both.
            br
            form(id="txtForm" role='form' method='POST' action='/messages/singlepreview')
                .form-row.col-sm-7
                    .form-group
                        label(for='standardMessage') Standard Message:
                        select.form-control(name="standardMessage" size="0" required)
                            option(disabled='', selected='', value='')  -- Select a Standard Message --
                            each message, i in standardMessages
                                option(value=message.text) #{message.text}
                .form-row.col-sm-7
                    .form-group
                        label(for='customMessage') Custom Message:
                        textarea.form-control( name='customMessage' placeholder='' required)
                .form-row.col-sm-7
                    .form-group
                        label(for='toPhone') To Phone (Required):
                        input.form-control(name='fromPhone', type='number' placeholder='' min='2002000000' max='9999999999')
                .form-row.col-sm-7
                    .form-group
                        label(for='fromName') From Name (Optional):
                        input.form-control(name='fromName' type='text' placeholder='')
                    .form-group
                        label(for='fromPhone') From Phone (Optional):
                        input.form-control(name='fromPhone', type='number' placeholder='' min='2002000000' max='9999999999')
                br
                .form-row.col-sm-7
                    .form-row
                        .form-group
                            input.btn.btn-success.btnSubmit(type="submit", value="Preview Message")
                    .form-row
                        .form-group
                            button.btn.btn-secondary.btnReset.clrForm(type="button") Reset Form
            br
