extends page_layout2

block content
  if user && user.team !== 'staff'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/admin/messages/edit/' + standardMessage._id)
                .form-group
                    label(for='messageText') Standard` Message:
                    input.form-control(class='mlen', name='messageText', type='text', placeholder='' value=standardMessage.text required)
                //- br
                .form-row.col-sm-7
                    .form-row
                        .form-group
                            input.btn.btn-success.btnSubmit(type="submit", value="Save Changes")
                    .form-row
                        .form-group
                            input.btn.btn-secondary.btnReset(type="button" onclick="window.location.href='/admin/messages'" value="Cancel")
            br
