extends page_layout2

block content
    if user && user.role=='admin'
        .container
            h1 #{title}
            br
            hr
            h4 Add a Customer Group:
            br
            form(role='form' method='POST' action='/admin/groups/add')
                .form-group
                    label(for='group') Group Name:
                    input.form-control(class='mlen', name='group', type='text', placeholder='' required)
                
                input.btn.btn-info.btn-fswf1(type="submit", value="Create Group")
            br
            hr
        .container
            br
            h4 Customer Group List:
            table.table
                thead
                    tr
                        th(scope='col') Group Name
                        th(scope='col') Active
                        th(scope='col') Actions
                tbody
                    each group, i in groups
                        tr
                            td= group.name
                            td.center= group.active
                            td.center
                                a.btn.btn-info.btn-fswf3(href="/admin/groups/edit/" + group._id) Edit
                                button.btn.btn-danger.btn-sm.deleteGroup(href="#", data-id=group._id) Delete
